<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Items management application">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/displayCollection.js" defer></script>
  </head>
  <body>
    <header>
      <h1 id="page_header">
        Items management
      </h1>
    </header>

    <main>
	<a href="/">Back</a>
	<br>
	<p class="bold">Items list</p>
    </main>

  </body>
</html>

