extends layout

block content
  h1= collection.name
  br
  h5 Edit item:
  
  form(method='POST',action="/modify/"+collection.name+"/"+item.id)
    each key in Object.keys(item)
      if key !== 'id'
        li #{key}:
          input.form-control(name=key, type='text', value=item[key])
    li Secret:
    input.form-control(name='secret', type='password')
    br
    p
      input.btn.btn-primary(type='submit',name='_btn',value='Save')
    p
      input.btn.btn-danger(type='submit',name='_btn',value='Delete')
  
  br
  br
  a(href="/edit/"+collection.name) Back
  br
  br
