extends layout

block content
  h1.mark Collections management
  br
  h5 Collections list

  ul.list-group
    each collection in collections
      li.list-group-item
        a(href="/show/"+collection.name)= collection.name
  br
  a.btn.bg-info.mr-1.text-white(href="/") Home
  a.btn.bg-primary.text-white.mr-1(href="/writeCollection") Insert collection
  a.btn.bg-primary.text-white.mr-1(href="/export") Export in JSON
  br
  br
