<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Insert new collection</title>
    <meta name="description" content="Insert new collection">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/insertCollection.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Insert new collection
      </h1>
    </header>

    <main>
	<p>Collection specification:</p>

	<div id="newCollection">
	<form>
		Name: <input name="name" type="text" maxlength="100">
		Properties: <input name="properties" type="text" maxlength="100">
		Secret: <input name="secret" type="password" maxlength="100">
        	<button type="submit" id="submit-collection">Submit Collection</button>
	</form>
	</div>

	<br>
	<a href="/">Back</a>
    </main>

  </body>
</html>

