extends layout

block content
    .container
        h1.mark Ressources
        h4 Sécurité informatique
        ul
            li
                a(href='/AZ500' target="_blank") Liens utiles 
                | pour préparer la certification Azure Security (
                a(href='https://docs.microsoft.com/fr-fr/learn/certifications/exams/az-500' target="_blank") AZ-500
                | )
        h4 Développement
        ul
            li Une 
                a(href='http://covid19simulator.azurewebsites.net/' target="_blank") application 
                | que j'ai écrite pour estimer le coût en vies humaines d'une contamination Covid19 dans une collectivité (entreprise, ville, pays, ...)
        br
        br